.tarea-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
}

.terea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 0 4px 0 4px;
  outline: none;
  background: #00471b;
  color: #fff;
  text-transform: capitalize;
}
